<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="background-color: red">This is a home page of apple</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
      perferendis recusandae adipisci in accusamus, nobis eaque quos minus animi
      iusto aliquam? Pariatur, dignissimos dicta maiores cum cumque ipsum sequi
      tempore.
    </p>
    <button>click me for apple</button>
  </body>
</html>
